+font("OpenSans-Bold", "OpenSans-Bold")
+font("OpenSans-BoldItalic", "OpenSans-BoldItalic")
+font("OpenSans-CondBold", "OpenSans-CondBold")
+font("OpenSans-CondLight", "OpenSans-CondLight")
+font("OpenSans-CondLightItalic", "OpenSans-CondLightItalic")
+font("OpenSans-ExtraBold", "OpenSans-ExtraBold")
+font("OpenSans-ExtraBoldItalic", "OpenSans-ExtraBoldItalic")
+font("OpenSans-Italic", "OpenSans-Italic")
+font("OpenSans-Light", "OpenSans-Light")
+font("OpenSans-LightItalic", "OpenSans-LightItalic")
+font("OpenSans-Regular", "OpenSans-Regular")
+font("OpenSans-SemiBold", "OpenSans-SemiBold")
+font("OpenSans-SemiBoldItalic", "OpenSans-SemiBoldItalic")

=bold
  font-family: "OpenSans-Bold", sans-serif, Arial
  font-weight: normal

=boldI
  font-family: "OpenSans-BoldItalic", sans-serif, Arial
  font-weight: normal

=condB
  font-family: "OpenSans-CondBold", sans-serif, Arial
  font-weight: normal

=condL
  font-family: "OpenSans-CondLight", sans-serif, Arial
  font-weight: normal

=condLI
  font-family: "OpenSans-CondLightItalic", sans-serif, Arial
  font-weight: normal

=extraB
  font-family: "OpenSans-ExtraBold", sans-serif, Arial
  font-weight: normal

=extraBI
  font-family: "OpenSans-ExtraBoldItalic", sans-serif, Arial
  font-weight: normal

=italic
  font-family: "OpenSans-Italic", sans-serif, Arial
  font-weight: normal

=light
  font-family: "OpenSans-Light", sans-serif, Arial
  font-weight: normal

=lightI
    font-family: "OpenSans-LightItalic", sans-serif, Arial
    font-weight: normal

=reg
  font-family: "OpenSans-Regular", sans-serif, Arial
  font-weight: normal

=semiBI
  font-family: "OpenSans-SemiBoldItalic", sans-serif, Arial
  font-weight: normal

=semiB
  font-family: "OpenSans-SemiBold", sans-serif, Arial
  font-weight: normal

