//
//// general colors
//
$color-grey: #f6f6ff
$color-dark-grey: #e6e6e6
$color-btn-grey: #a4a4a4
$color-tab-grey: #ebebfa
$color-input-grey: #cccccc
$color-input-text: #4d4d4d
$color-white: #FFFFFF
$color-black: #000000
$color-turquoise: #4bb5c5
$color-dark-blue: #1b2048
$color-light-blue: #2b3383
$color-massage-blue: #2b3282



// fonts size
$font-size--l: 20px
$font-size--ls: 18px
$font-size--m: 16px
$font-size--ms: 15px
$font-size--s: 14px
$font-size--xs: 12px
